* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  background: rgb(142, 5, 110);
  color: white;
  padding: 10px;
  text-align: center;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.action_area {
  display: flex;
  background: rgba(148, 12, 107, 0.208);
}
.action_area video {
  flex: 1;
}
.action_area div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video {
  width: 100%;
  max-width: 800px;
}
#canvas {
  display: none;
}
#capture {
  margin-top: 10px;
  background: rgba(167, 23, 109, 0.652);
  color: white;
  padding: 0;
  font-size: 25px;
  border: 4px;
  border-radius: 2px;
}
